# Ignore CLion build directory
cmake-build-debug/

# Ignore CLion settings
.idea/

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
